<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet"
        href="/stylesheets/style.css" />
</head>

<body class="container">
    <header>
        <h1 class="display-4"><%= title %></h1>
    </header>
    <div role="main">
        <p><%- content %></p>
        <form method="post" action="/amount/edit">
            <input type="hidden" name="category" value="<%= cashnyan.category %>">
            <div class="form-group">
                <label for="category">カテゴリ</label>
                <input type="text" name="category" id="category" class="form-control" value="<%= cashnyan.category %>">
            </div>
            <div class="form-group">
                <label for="amountBalance">残高</label>
                <input type="number" name="amountBalance" id="amountBalance" class="form-control" value="<%= cashnyan.amountBalance %>">
            </div>
            <div class="form-group">
                <label for="amountExpenditure">支出金額</label>
                <input type="number" name="amountExpenditure" id="amountExpenditure" class="form-control" value="<%= cashnyan.amountExpenditure %>">
            </div>
            <div class="form-group">
                <label for="amountIncome">収入金額</label>
                <input type="number" name="amountIncome" id="amountIncome" class="form-control" value="<%= cashnyan.amountIncome %>">
            </div>
            <input type="submit" value="更新" class="btn btn-primary">
        </form>
    </div>
</body>

</html>