<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet"
        href="/stylesheets/style.css" />
</head>

<body class="container">
    <header>
        <h1 class="display-4">
            <%= title %></h1>
    </header>
    <div role="main">
        <p><%= content %></p>
        <table class="table">
            <tr>
                <th>カテゴリ</th>
                <td><%= cashnyan.category %></td>
            </tr>
            <tr>
                <th>残高</th>
                <td><%= cashnyan.amountBalance %></td>
            </tr>
            <tr>
                <th>支出金額</th>
                <td><%= cashnyan.amountExpenditure %></td>
            </tr>
            <tr>
                <th>収入金額</th>
                <td><%= cashnyan.amountIncome %></td>
            </tr>
        </table>
    </div>
</body>

</html>